@page
@model eCoinAccountingApp.Pages.HelpModel
@{
    ViewData["Title"] = "Help";
}
<head>
<h1>@ViewData["Title"]</h1>

<p>This is the help page. It contains information about the software organized by topic.</p>
</head>
    <br>

<body>
    <h3>What is the eCoin Accounting App?</h3>
    <p>The eCoin Accounting App is designed to streamline accounting for businesses.</p>
    <br>
    <h3>Registration/Log In</h3>
    <p>There are three types of accounts: regular users, managers, and administrators. Administrators can create, modify, and delete users and user information directly from the app. These changes will sync in real time with the database. To create an account, a user must use the Register button. The user will fill in the requested information and submit an application to register. The administrator receives an email request and will approve or reject the request. If the administrator approves. An email will be sent to the user with a link to log in to the system. A forgot password option is available for users who may have forgotten their password. This feature will send an email to users to ask security questions to verify the password reset.</p>
    <br>
    <h3>Chart of Accounts</h3>
    <p>Users can view accounts in the chart of accounts section. Administrators have the ability to add, edit, and deactivate accounts. Event logs keep track of changes made to the data.</p>
    <br>
    <h3>Journalizing / Ledger</h3>
    <p></p>
    <br>
    <h3>Adjusting Entries and Financial Reports</h3>
    <p></p>
    <br>
    <h3>Financial Ratios and Dashboard</h3>
    <p></p>
</body>
