@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body style="text-align: center;">
    <!-- Welcome Heading -->
    <h1 style="text-align: center;">Welcome To Ecoin Accountant!</h1>

    <!-- Background Image -->
    <img src="./accountantBackgroundPic.jpg" alt="accountantBackgroundPic" style="width: 100%; height: 100%; top: 0; left: 0; z-index: -1; object-fit: cover;" />
</body>
