@page
@model eCoinAccountingApp.Pages.Journal.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Journal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Journals.journalNum" />
            <div class="form-group">
                <label asp-for="Journals.DateAdded" class="control-label"></label>
                <input asp-for="Journals.DateAdded" class="form-control" />
                <span asp-validation-for="Journals.DateAdded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journals.AccountName" class="control-label"></label>
                <input asp-for="Journals.AccountName" class="form-control" />
                <span asp-validation-for="Journals.AccountName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journals.Debit" class="control-label"></label>
                <input asp-for="Journals.Debit" class="form-control" />
                <span asp-validation-for="Journals.Debit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Journals.Credit" class="control-label"></label>
                <input asp-for="Journals.Credit" class="form-control" />
                <span asp-validation-for="Journals.Credit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
